{% load i18n %}
<div class="section_marketing">
    <h1>{% trans "Welcome to HELIX Platform" %}</h1>
    <div class="marketing_text">
        <div class="bullet">
            <div></div>
        </div>
        <div class="bullet_text">
            {% blocktrans trimmed %}
				Get started using HELIX by uploading your properties and energy information and certifications.
                <!--MARKETING_BULLET_1-->
            {% endblocktrans %}
        </div>
    </div>
    <div class="marketing_text">
        <div class="bullet">
            <div></div>
        </div>
        <div class="bullet_text">
            {% blocktrans trimmed %}
				Automatically update your property list with new records retrieved from the Department of Energy's Home Energy Score database, from the RESNET HERS registry, USGBC's LEED For Homes, the National Green Building Standard and other leading certifications.
                <!--MARKETING_BULLET_2-->
            {% endblocktrans %}
        </div>
    </div>
    <div class="marketing_text">
        <div class="bullet">
            <div></div>
        </div>
        <div class="bullet_text">
            {% blocktrans trimmed %}
				Easily export HELIX data to multiple listing systems and data vendors.
                <!--MARKETING_BULLET_3-->
            {% endblocktrans %}
        </div>
    </div>
    <!--<div id="powered_by_seed" class="powered_by_seed">
        <div class="powered_by">Powered by:</div>
        <div class="logo_seed">
            <img src="{{STATIC_URL}}seed/images/DOE-SEED-Logo_v4.jpg" alt="SEED Platform" title="SEED Platform" height="60" onerror="hidePoweredBy(this);">
        </div>
    </div>-->
</div>

<!--<script>
    function hidePoweredBy(image){
        $("#powered_by_seed").hide();
    }
</script>-->
