{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% trans "HELIX Platform" %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}seed/images/favicon.ico">
    <!--HELIX code to change font to roboto-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <!--end -->
    <link href="{{STATIC_URL}}node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="{{STATIC_URL}}node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="{{STATIC_URL}}seed/scss/style.scss" rel="stylesheet" type="text/x-scss">
    <!-- HELIX code to change color for organization name-->
    <link href="{{STATIC_URL}}seed/css/style_mod.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>

