{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% trans "HELIX Platform" %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{{STATIC_URL}}seed/images/favicon.ico">
    <!--HELIX code to change font to roboto-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <!--end -->
<!--    <link href="{{STATIC_URL}}node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="{{STATIC_URL}}node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.1/css/all.css" rel="stylesheet" type="text/css">
    <!-- HELIX code to change color for organization name-->
<!--    <link href="{{STATIC_URL}}seed/css/style_mod.css" rel="stylesheet" type="text/css"> -->
<!--    <link href="{{STATIC_URL}}seed/css/deep-link.css" rel="stylesheet" type="text/css"> -->
  </head>
  <body>
    <div class="display">
      <div class="content">
        <div class="header">
          <div class="logo">
            <div class="logo_text">
              <span class="logo_text_seed">HELIX</span>
              <span class="logo_text_platform"></span>
              <span class="logo_text_platform_em">Powered by SEED Platform™</span>
            </div>
          </div>
        </div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>

