{% extends "seed/helix/deep_base.html" %}
{% load i18n %}
{% block content %}
<div class="section_header_container">
  <div class="section_header fixed_height_short has_no_padding">
    <h2><span><i class="fas fa-building"></i>{% trans "Property" %}: {{ name }}</span></h2>
  </div>
</div>
<div class="section_header_container">
  <div class="section_header fixed_height_short has_no_padding">
    <h2><span><i class="fas fa-leaf"></i>{% trans "Certifications" %}</span></h2>
  </div>
</div>
<div class="section_header_container">
  <div class="table_list_container table_item_detail">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for column in certification_columns %}
          <th scope="col">{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for certification in certifications %}
        <tr>
          {% for value in certification.values %}
          <th scope="row" class="ui-grid-cell-contents">{{ value }}</th>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="section_header_container">
  <div class="section_header fixed_height_short has_no_padding">
    <h2><span><i class="fas fa-leaf"></i>{% trans "Measures" %}</span></h2>
  </div>
</div>
<div class="section_header_container">
  <div class="table_list_container table_item_detail">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for column in measure_columns %}
          <th scope="col">{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for measure in measures %}
        <tr>
          {% for value in measure.values %}
          <th scope="row" class="ui-grid-cell-contents">{{ value }}</th>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="section_header_container">
  <div class="table_list_container table_item_detail">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for column in property_columns %}
          <th scope="col">{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for k,v in property_fields.items %}
        <tr>
          <th scope="row" class="ui-grid-cell-contents">{{ k | title }}</th>
          <th scope="row" class="ui-grid-cell-contents">{{ v }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
