{% extends "seed/helix/deep_base.html" %}
{% load i18n %}
{% block content %}
<div class="section_header_container">
  <div class="section_header fixed_height_short has_no_padding">
    <h2><span><i class="fas fa-building"></i>{% trans "Property list" %}</span></h2>
  </div>
</div>
{% if msg %}
<div class="container-fluid">
  <div class="col-sm-12 alert alert-warning" role="alert">
    {{ msg }}
  </div>
</div>
{% endif %}
<div class="container-fluid">
  {% if disclaimer %}
  <div class="row">
    <div class="col-sm-12">
      <div class="form-horizontal">
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="disclaimer">
              By checking this box, I acknowledge that I have obtained the homeowner’s consent to publicly display and disclose information regarding this property for release in its real estate listing.
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div id="disclaimer">{{disclaimer}}</div>
  <div class="row">
    <div class="col-md-12">
      <div class="section_header_container toggle" id="property_list">
        <div class="table_list_container table_item_detail">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th></th>
                {% for column in table_columns %}
                <th scope="col">{{ column }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for item in table_list %}
              {% with forloop.counter as outer_counter %}
              <tr>
                <td>
                  <i class="clicks fas fa-caret-right fa-lg teal" value="{{ forloop.counter }}" id="click-{{ forloop.counter }}"></i>
                </td>
                {% for key, value in item.items %}
                <td scope="row" class="ui-grid-cell-contents">
                  {% if value == True %}&#10004;
                  {% elif value == False %}
                  {% elif key == "pk" %}
                  {% elif key == "Measures" %}
                  {% elif key == "Certifications" %}
                  {% else %}{{ value }}{% endif %}
                </td>
                {% endfor %}
              </tr>
              {% if item.is_certified == True %}
              <thead class="thead-light">
                <tr id="details-{{ forloop.counter}}-1" class="details">
                  <th><i class="fas fa-leaf"></i> {% trans "Green Building Verification" %}</th>
                </tr>
                <tr id="details-{{ forloop.counter}}-2" class="details">
                  {% for column in certification_columns %}
                  <th scope="col">{{ column }}</th>
                  {% endfor %}
                </tr>
              </thead>
              {% for certification in item.Certifications %}
              <tr class="details details-{{outer_counter}}-3">
                <td>{{ certification.assessment.award_body }}</td>
                <td>{{ certification.assessment.name }}</td>
                <td>{% if certification.score is not None %}{{ certification.score }}{% endif %}</td>
                <td>{% if certification.date is not None %}{{ certification.date }}{% endif %}</td>
                <td>${{ certification.EnergyCost|floatformat }}</td>
                <td>{% for url in certification.urls %}<a href="{{ url.0 }}" target=_blank>Link</a> {% endfor %}</td>
              </tr>
              {% endfor %}
              {% endif %}
              {% if item.is_solar == True %}
              <thead class="thead-light">
                <tr id="details-{{ forloop.counter}}-4" class="details">
                  <th><i class="fas fa-bolt"></i> {% trans "Power Production" %}</th>
                </tr>
                <tr id="details-{{ forloop.counter}}-5" class="details">
                  {% for column in measures_columns %}
                  <th scope="col">{{ column }}</th>
                  {% endfor %}
                </tr>
              </thead>
              {% for measure in item.Measures %}
              {% for mmt in measure.measurements %}
              <tr class="details details-{{outer_counter}}-6">
                <td>Photovoltaics</td>
                <td>{% if mmt.0 == 'Capacity' %}{{ mmt.3 }}{% endif %}</td>
                <td>{% if mmt.0 == 'Capacity' %}{{ mmt.6 }}{% endif %}</td>
                <td>{% if measure.ownership is not None %}{{ measure.ownership }}{% endif %}</td>
                <td>{% if mesure.source is not None %}{{ measure.source }}{% endif %}</td>
                <td>{% if mmt.0 == 'Production' %}{{ mmt.3|floatformat }}{% endif %}</td>
                <td>{% if mmt.0 == 'Production' %}{{ mmt.5 }}{% endif %}</td>
              </tr>
              {% endfor %}
              {% endfor %}
              {% endif %}
              {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(
      function(){
          var show_data = ($("#disclaimer").text() == '0');
          $("#disclaimer").click(function() {
            if (this.checked || show_data) {
              $("#property_list").show();
            } else {
              $("#property_list").hide();
            }
          });
          if ($("#disclaimer").checked || show_data) {
            $("#property_list").show();
          } else {
            $("#property_list").hide();
          }
          $( ".clicks" ).click(function() {
              var ind = $(this).attr('value');
              $("#click-"+ind).toggleClass('fa-caret-right fa-caret-down');
              $("#details-"+ind+"-1").toggle();
              $("#details-"+ind+"-2").toggle();
              $(".details-"+ind+"-3").toggle();
              $("#details-"+ind+"-4").toggle();
              $("#details-"+ind+"-5").toggle();
              $(".details-"+ind+"-6").toggle();
            });
        });
</script>
{% endblock content %}



