{% load i18n %}{% autoescape off %}
{% blocktrans %}Hello {{first_name}}, {% endblocktrans %}

{% trans "You're receiving this e-mail because you've been registered for a SEED account." %}

{% blocktrans %}HELIX is designed to help States and organizations clean, manage and share information about home energy certification programs, residential solar installations and other home energy attributes.{% endblocktrans %}


{% trans "Please go to the following page and setup your account:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{{signup_url}}
{% endblock %}

{% blocktrans %}The HELIX Team{% endblocktrans %}

{% endautoescape %}
